<!DOCTYPE html>
<html>
<head>
    <title>Big Blue Collector</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div id="loading">
        <h1 id="loading-header">Loading...</h1>
        <div class="loader"></div>
    </div>
    <div id="content">
        <h1 class="page-title">Welcome to Big Blue Collector</h1>
        <form action="/results" method="POST">
            <div class="form-input">
                <label for="dbaurl">URL:</label><br>
                <input type="text" id="dbaurl", name="url" size="70">
            </div>
            <div class="form-button">
                <input type="submit" id="submit" value="Submit" onclick="loading();">
            </div>
        </form>
        <form id="keyword-form">
            <label for="title-keyword">Add keyword:</label><br>
            <input type="type" id="title-keyword" name="keyword">
            <input type="submit" id="submit" value="Add">
        </form>
        <div id="keyword-list-wrapper">
            <h3>Keywords:</h3>
            <ul id="keywords-list"></ul>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/index.js')}}" type="module" ></script>
</body>
</html>